<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyRecords</title>
</head>
<body>
  <header>
    <a href="/">Home</a>
    <a href="#">MyRecords</a>
    <a href="/AllCountries">All Countries</a>
  </header>
  <% if(data.length == 0 ){ %>
    <h1>NO AVAILABLE RECORDS</h1>
    <% }else{%>
    
  <% data.forEach(element => { %>
    <div>
      <h1>Country: <%= element.country %></h1>
      <h1>Date: <%= element.date %></h1>
      <form action="/RecordDetails/<%= element.card_id %>" method="GET">
        <button type="submit">Details</button>
      </form>
    </div>
    <hr>
  <% });} %>
</body>
</html>